/Debug
/JMiniBlink.VC.VC.opendb
/MiniBlinkHost/Debug
/ipch
/JMiniBlink.VC.db
/test/LocalStorage/*.localstorage
/MiniBlinkHost/Release
/Release
/MiniBlink/x64
/MiniBlinkHost/x64/Debug
/MiniBlinkHost/x64/Release
/x64/Debug
/x64/Release
/.vs/JMiniBlink/v14/*.suo
/test/cookies.dat
/Plugin.MFCTest/Debug
/Plugin.MFCTest/Release
/Plugin.MFCTest/Plugin.MFCTest.aps
/Plugin.System/Debug
/Plugin.System/Release
/*.opensdf
/*.sdf
/Plugins/Plugin.MFCTest/Debug
/Plugins/Plugin.MFCTest/Release
/Plugins/Plugin.MFCTest/*.aps
/Plugins/Plugin.System/Release
/Plugins/Plugin.System/Debug
